/* text main color #212121 */
/* text secondary color #757575 */
/* accent color #2196F3  */
/* logo color #000000 */
/* background color #F5F5F5 */
/* secondary background color #FFFFFF */
/* third background color #F5F4FA */
/* hero background color #2F303A  */

:root {
    --main-text-color : #212121 ;
    --accent-color : #2196F3 ;
    --back-ground-color : #F5F5F5 ;
    --white-color : #FFFFFF;
    --auth-color : #757575;
}

body {
    color: var(--main-text-color);
    background-color: var(--back-ground-color);

    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

/* header  */
.header {
    background: var(--white-color);
}

.logo {
    color: #000000;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-part {
    color: var(--accent-color);
}

/* nav  */



.nav :hover,
.nav :focus {
    color: var(--accent-color);
}

.nav-link,
.nav-auth {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.nav-link {
    color: var(--main-text-color);
}

.nav-auth {
    color:var(--auth-color);

}

.nav .current {
    color: var(--accent-color);
}

/* стилі для героя */

.hero {
    background-color: #2F303A;
}

.hero-title {
    color: var(--white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-btn {
    background: var(--accent-color);
    color: var(--white-color);

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    cursor: pointer;
}

/* секці 1 */

.hiden-title  {
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }

 .benefits-company {
    background-color: var(--back-ground-color) ;
 }

 .benefits-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: var(--main-text-color);
 }

.benefits-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    
        color: var(--auth-color);
}

/* дргуга секція */

.team {
    background-color: #F5F4FA ;
}

.section-title {

        font-size: 36px;
        line-height: 1.67;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: var(--main-text-color);
}

.names {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    
        color: var(--main-text-color);
}

.profession {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--auth-color);
}

/* footer */

.footer {
    background-color: #2F303A; ;
}

 .footer .logo {
    color: var(--white-color);
}
.footer a {
    text-decoration: none;
}
.footer address {
    font-style: normal;
}

.location {
    color: var(--white-color);

        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
}

.contacts {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
}

/* page portfolio */

.main-back {
    background-color: var(--back-ground-color) ;
}

.btn {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        text-align: center;
        letter-spacing: 0.03em;
        cursor: pointer;
    
        color: var(--main-text-color);
        background-color: #F5F4FA;
}

.btn:hover,
.btn:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
}
.btn-list .current {
    background-color: var(--accent-color);
    color: var(--white-color);
} 

.projects h2 {
        font-weight: 700;
        font-size: 18px;
        line-height: 2.0;
        letter-spacing: 0.06em;
    
        color: var(--main-text-color);
}

.projects p {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
    
        color: var(--auth-color);
}
























